
$primary: #0050C8;
$secondary: #F2CC0C;
$light: #FFFFFF;
$dark: #2c2c2c;
$info: #0BCBDE;
$success: #18ce0f;
$warning: #FFB236;
$danger: #FF3636;
$gray : #EEEEEE;


@import "../node_modules/bootstrap/scss/bootstrap";


